services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    ports:
      - "8080:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000
